<div id="gear-level-chart">Chart</div>

<div class="recent-loot col-lg-8">
	<div><strong>Recently Looted Items</strong> - <%= link_to "View All", loots_path %>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Received By</th>
				<th>Received Item</th>
				<th>Received On</th>
			</tr>
		</thead>
		
		<tbody>
		<% @recent_loot.each_with_index do |loot, index| %>
		<tr>
			<td><%= index + 1 %></td>
			<td><%= link_to loot.character.name, character_path(loot.character) %>
			<td><%= link_to loot.item.name, loot_path(loot), :rel => "item=#{loot.item.armory_id}", :class => "quality-#{loot.item.quality.nil? ? 0 : loot.item.quality}" %></td>
			<td><%= loot.received_on_formatted unless loot.received_on.nil? %>
		</tr>
		<% end%>
		</tbody>
	</table>
</div>

<script>
$(document).ready(function() {
	var chart2 = new Highcharts.Chart({
			chart: {
				renderTo: 'gear-level-chart',
				type: 'column',
			},
			credits: { enabled: false },
			title: {
				text: 'Average Equipped Item Level'
			},
			xAxis: {
				categories: <%=raw @characters.map{ |c| c.name } %>,
				title: { text: 'Character' },
				labels: {
					rotation: -45,
					x: 5,
					y: 10,
					align: "right"
				}
			},
			yAxis: {
				min: <%= @average_item_level - 5 %>,
				max: <%= @characters.map{ |c| c.gear_level }.max + 5 %>,
				title: {
					text: 'Average'
				},
				minorTickInterval: 'auto',
				stackLabels: {
					enabled: true,
					style: { 
						fontWeight: 'bold',
						color: 'gray'
					}
				}
			},
			tooltip: {
				formatter: function() {
					return ''+
						this.x +': '+ this.y +' Gear Score';
				}
			},
			plotOptions: {
				bar: {
					borderWidth: 1,
					pointWidth: 20
				},
				column: {
					pointWidth: 15,
					dataLabels: { enabled: false }
				}
			},
			legend: { enabled: false },
			series: [
				{ type: 'line', color: '#CECECE', data: <%=raw @characters.map { |c| @average_item_level } %> },
				{
				data: [
					<% @characters.each do |c| %>
						{ name: "<%= c.name %>", color: "<%= c.css_color_code %>", y:  <%= c.item_level %> },
					<% end %>
				]
			}]
		});
		
		chart2.setSize()
	
});
</script>