<div id="gear-level-chart">Chart</div>

<h3>Recent Loot</h3>
<div class="recent-loot">
	<% @recent_loot.each do |loot| %>
		<div class="loot-card pull-left">
			<b><%= link_to loot.item.name, loot_path(loot) %></b> 
			<% if !loot.character.nil? %> 
			was received by <%= link_to loot.character.name, character_path(loot.character) %> 
			on <%= loot.received_on.strftime("%m/%d/%Y") %>
			<% else %>
				was disenchanted
			<% end %>
		</div>
	<% end %>

</div>

<script>
$(document).ready(function() {
	var chart2 = new Highcharts.Chart({
			chart: {
				renderTo: 'gear-level-chart',
				type: 'column',
			},
			credits: { enabled: false },
			title: {
				text: 'Average Equipped Item Level'
			},
			xAxis: {
				categories: <%=raw @characters.map{ |c| c.name } %>,
				title: { text: 'Character' },
				labels: {
					rotation: -45,
					x: 5,
					y: 10,
					align: "right"
				}
			},
			yAxis: {
				min: <%= @average_item_level %>,
				max: <%= @characters.map{ |c| c.gear_level }.max + 5 %>,
				title: {
					text: 'Average'
				},
				minorTickInterval: 'auto',
				stackLabels: {
					enabled: true,
					style: { 
						fontWeight: 'bold',
						color: 'gray'
					}
				}
			},
			tooltip: {
				formatter: function() {
					return ''+
						this.x +': '+ this.y +' Gear Score';
				}
			},
			plotOptions: {
				bar: {
					borderWidth: 1,
					pointWidth: 20
				},
				column: {
					pointWidth: 15,
					dataLabels: { enabled: false }
				}
			},
			legend: { enabled: false },
			series: [{
				data: [
					<% @characters.each do |c| %>
						{ name: "<%= c.name %>", color: "<%= c.css_color_code %>", y:  <%= c.item_level %> },
					<% end %>
				]
			}]
		});
		
		chart2.setSize()
	
});
</script>