<div class="actions">
	<%= form_for @character do |f| %>
		<%= f.submit "Update Character", class: "btn btn-default btn-sm pull-right" %>
	<% end %>
</div>


<h2><span class="<%= @character.clazz.gsub(/\s+/, "").underscore %>"><%= @character.name %></span> - <span><%= @character.item_level%></span> (<%= @character.equipped_item_level %>)</span></h2>

<div>last updated <%= time_ago_in_words(@character.updated_at) %> ago <% if @cached_file_at %> <span class="armory-cache" style="color: #cecece">| armory cached <%= time_ago_in_words(@cached_file_at) %> ago<% end %></div>
	
<hr/>

<div class="row">
	<div class="recent-loot col-lg-6">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Received Item</th>
					<th>Received On</th>
				</tr>
			</thead>
			
			<tbody>
			<% @recent_loot.each do |loot| %>
			<tr>
				<td><%= link_to loot.item.name, loot_path(loot), :rel => "item=#{loot.item.armory_id}", :class => "quality-#{loot.item.quality.nil? ? 0 : loot.item.quality}" %></td>
				<td><%= loot.received_on_formatted unless loot.received_on.nil? %>
			</tr>
			<% end%>
			</tbody>
		</table>
	</div>

	<div class="equipped-items col-lg-6">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Equipped Item</th>
					<th>Slot</th>
				</tr>
			</thead>
			<tbody>
				<% @character.equipped_items.each do |item| %>
				<tr>
					<td><%= link_to item.name, item_path(item), :rel => "item=#{item.armory_id}", :class => "quality-#{item.quality.nil? ? 0 : item.quality}" %> (<%= item.level %>)</td>
					<td><%= item.slot %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	
</div>

<div id="gear-level-chart" class="gear-level-chart">&nbsp;
</div>

<script>
// $(document).ready(function() {
//     var chart = new Highcharts.Chart({
//         chart: {
//             renderTo: 'gear-level-chart',
//             type: 'line',
//             width: 800
//         },
// 		
// 		title: { text: "Gear Progression" },
//         
//         xAxis: {
//             categories: ['Sep', 'Oct', 'Nov', 'Dec']
//         },
//         
//         series: [{
//             data: [<%= @character.equipped_item_level || 0 %>]
//         }]
//     });
// });
</script>