<h2>Recently received loot</h2>

<table class="table table-striped">
	<thead>
		<tr>		
			<th>Item Name</th>
			<th>Looted by</th>
			<th>Received At</th>
		</tr>	
	</thead>
	<tbody>
		<% @loots.each do |loot| %>
			<tr>
				<td><%= link_to loot.item.name, loot_path(loot), class: "quality-#{loot.item.quality}"  unless loot.item.nil? %></td>
				<td><%= link_to loot.character.name, character_path(loot.character) %></td>
				<td><%= loot.received_on_formatted %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<% @bosses.each do |boss| %>
	<h3><%= boss.name %></h3>
	
	<div class="loot-table clearfix">
		<% boss.items.order("items.level").each do |item| %>
			<div class="loot-card pull-left">
				<span class="badge <%= "badge-success" if item.heroic? %> pull-right"><%= item.level %></span>
				<b><%= link_to item.name, item_path(item) %></b>
				<% if item.heroic? %>
					<p>Heroic</p>
				<% end %>
			</div>
		<% end %>
	</div>
<% end %>