<div class="actions text-right pull-right">
	<%= link_to "Edit", edit_loot_path(@loot), class: "btn btn-default" %>
</div>

<h2><%= link_to @loot.item.name, item_path(@loot.item) %></h2>

<div>Looted by <%= link_to @loot.character.name, character_path(@loot.character) %> on <%= @loot.received_on_formatted %></div>

<% if @loot.is_manual_assignment? then %>
	<div>This item was manually assigned to this character.</div>
<% end %>
	


<hr/>

<% if @loots.size > 0 %>
	<div class="row">
		<div class="col-lg-5">
			<strong>Item has also been looted by</strong>

			<table class="table table-striped">
				<thead>
					<th>Character</th>
					<th>Received On</th>
				</thead>
				<tbody>
					<% @loots.each do |loot| %>
						<tr>
							<td><%= link_to loot.character.name, loot_path(loot) %></td>
							<td><%= loot.received_on_formatted %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
<% end %>