<!DOCTYPE html>

<html>
	<head>
		<title>loot trackr</title>
		
		<%= stylesheet_link_tag    "application", "bootstrap" %>
		<%= javascript_include_tag "application", "highcharts/highcharts" %>

		<script type="text/javascript" src="http://static.wowhead.com/widgets/power.js"></script>
		
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row-fluid row">
				<div class="span3 sidebar">
					<ul class="curl">
						<li><%= link_to "Overview", root_path, :class => "brand" %></li>
						<% @characters.each do |character| %>
							<li class="<%= active?(character) %> <%= character.clazz.gsub(/\s+/, "").underscore %>"><%= link_to character.name, character_path(character) %></li>
						<% end %>
					</ul>
				</div>
				
				<div class="span9 main" style="margin-left: 5px;">
					<div class="wrapper">
						<%= yield %>
					</div>
				</div>
			</div>

			<hr />
			
			<footer>
				<p>Company Name 2012</p>
			</footer>
		</div>
		
	</body>
</html>